.addticket{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
}

.form{
    width: 80%;
    padding:20px 50px;
}

.form>h3{
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 30px;
}

.input>p , .des>p{
    font-size: 14.5px;
}

.input>input , .des>input{
    border: none;
    border-bottom: 1px solid rgb(160, 156, 156);
    width:350px;
    margin-bottom: 50px;
}

.des>input{
    width: 100% !important;
}

.input>input:focus , .des>input:focus{
    outline-width: 0;
}

.input>input:hover , .des>input:hover{
    border-color: rgba(61, 148, 255, 0.82);
}

.allignment{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.dropdown{
    margin-top: 45px;
    position: absolute;
    width: 300px;
    background-color: #ffffff;
    z-index: 100;
    border: 1px solid rgb(207, 206, 206);
    height: 201px;
}

.dropdown>p{
    padding: 15px 0px;
    border-bottom: 1px solid rgb(207, 206, 206);
    width: 100%;
    padding-top: 22.5px !important;
    padding-bottom: 5px;
    cursor: pointer;
}


.dropdown>p:hover{
    background-color: rgba(244, 244, 244, 0.943);
}

.dropdown>p>span{
    padding-left: 20px;
}

.form_submit{
    display: flex;
}

.form_submit>p{
    padding: 10px 35px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}

.submit{
    border: 1px solid rgb(11,115,235);
    background-color: rgb(11,115,235);
    color: white;
}

.cancel{
    border: 1px solid rgb(214, 213, 213);
    background-color: rgb(255, 255, 255);
}

.cancel:hover{
    border: 1px solid rgb(234, 33, 33);
    background-color: rgb(234, 33, 33);
    color: white;
}



