*{
  margin: 0;
  padding: 0;
  top: 0;
}

@font-face {
  font-family: dhas;
  src: url('/Users/arun-16963/deskclone/desk-clone/public/zoho_puvi_regular-webfont.woff') format('woff2'),
       url('/Users/arun-16963/deskclone/desk-clone/public/zoho_puvi_regular-webfont.woff') format('woff');
}

body {
  font-family: dhas,sans-serif;
}